:root { 
--white_A700_7f:#ffffff7f; 
--gray_50_01:#fdf1f9; 
--gray_50_02:#f8f9fb; 
--blue_gray_50:#eaecf0; 
--deep_purple_500:#6840c6; 
--deep_purple_400:#7e56d8; 
--deep_purple_100:#d6bbfb; 
--gray_50:#f9f5ff; 
--gray_900_0c:#1018280c; 
--black_900_00:#00000000; 
--black_900_66:#00000066; 
--teal_800:#027947; 
--pink_A700:#c01573; 
--purple_900:#422f7d; 
--blue_gray_800:#344053; 
--purple_50:#f4ebff; 
--white_A700_4c:#ffffff4c; 
--blue_gray_100:#cfd4dc; 
--blue_gray_300:#98a1b2; 
--gray_900:#0f1728; 
--blue_gray_500:#667084; 
--gray_900_23:#0f172823; 
--gray_900_07:#10182807; 
--blue_50:#eef3ff; 
--gray_100:#f2f3f6; 
--deep_purple_50:#e9d7fe; 
--light_green_50:#ebfdf2; 
--white_A700:#ffffff; 
--indigo_500:#3537cc; 
}